{{define "title"}}
    <title>Create user</title>
{{end}}

{{define "content"}}
    <h1 class="text-center bg-red-100 text-4xl">CREATE USER</h1>
    {{if .Error }}
        <div class="err-warning text-center bg-yellow-500">
            {{range $key, $value := .Error}}
                <p class="font-bold" style="color: darkred">{{$value}}</p>
            {{end}}
        </div>
    {{end}}
    <form method="post" action="/register">
        <div class="flex justify-around bg-gray-200 p-2">
            <label class="p-2">Username</label>
            <input type="text" name="username" class="w-full"/>
        </div>
        <div class="flex justify-around bg-gray-200 p-2">
            <label class="p-2 mr-8">Email</label>
            <input type="email" name="email" class="w-full"/>
        </div>
        <div class="flex justify-around bg-gray-200 p-2">
            <label class="p-2">Password</label>
            <input type="password" name="password" class="w-full"/>
        </div>
        <div class="text-center bg-gray-200 p-2">
            <button type="submit" class="bg-gray-200 text-center p-2 border-teal-400 border-solid border">Submit
            </button>
        </div>
    </form>
{{end}}